## Chapter 9

In this case study we introduce multidimensional scaling (MDS), a technique for visually displaying the simialrity of observations in mutlidimensional space. We begin with with a very simple example using simulated  data. Next, we perform the same analysis on real data, using Senate roll call vote data. We first must get this data into workable format, then analyze with MDS.

Data Used: *.dta files in code/data/, source: http://www.voteview.com/dwnl.htm

First code snippet

In [1]:
import pandas as pd
import numpy as np
import random

#random_array = np.random.randint(-1, 2, 24).reshape(4,6)
random_array = np.array([0, -1, 0, -1, 0, 0, -1, 0, 1, 1, 1, 0, 0, 0, 0, 1, -1, 1, 1, 0, 1, -1, 0, 0]).reshape(4,6)

row_names = ['A', 'B', 'C', 'D']
col_names = ['P1', 'P2', 'P3', 'P4', 'P5', 'P6']
df = pd.DataFrame(random_array, columns=col_names, index=row_names)

Second code snippet

In [2]:
df

   P1  P2  P3  P4  P5  P6
A   0  -1   0  -1   0   0
B  -1   0   1   1   1   0
C   0   0   0   1  -1   1
D   1   0   1  -1   0   0

Third code snippet

Convert matrix to customer-by-customer matrix

In [3]:
df.transpose()

    A  B  C  D
P1  0 -1  0  1
P2 -1  0  0  0
P3  0  1  0  1
P4 -1  1  1 -1
P5  0  1 -1  0
P6  0  0  1  0

Fourth code snippet

Calculate distance matrix

In [4]:
dm = np.matmul(df, df.transpose())
dm

array([[ 2, -1, -1,  1],
       [-1,  4,  0, -1],
       [-1,  0,  3, -1],
       [ 1, -1, -1,  3]])

Fifth code snippet

In [5]:
np.sqrt(sum((dm[0, ] - dm[3, ]) ^ 2))

1.7320508075688772

In [6]:
from scipy.spatial import distance_matrix

distance_matrix(df.values, df.values)

array([[0.        , 2.82842712, 2.64575131, 1.73205081],
       [2.82842712, 0.        , 2.64575131, 3.        ],
       [2.64575131, 2.64575131, 0.        , 2.82842712],
       [1.73205081, 3.        , 2.82842712, 0.        ]])