## Snippets from chapter 8

First code snippet

In [2]:
import pandas as pd

df = pd.read_csv('data/stock_prices.csv')
df.head()

         Date Stock  Close
0  2011-05-25   DTE  51.12
1  2011-05-24   DTE  51.51
2  2011-05-23   DTE  51.47
3  2011-05-20   DTE  51.90
4  2011-05-19   DTE  51.91

Second code snippet

In [5]:
from dateutil.parser import parse
df['Date'] = df.apply(lambda row: parse(row['Date']), axis = 1)

Third code snippet

In [16]:
df_matrix = df.pivot(index='Date', columns='Stock', values='Close')

Fourth code snippet

In [19]:
df = df[df['Date'] != parse('2002-02-01')]
df_matrix = df.pivot(index='Date', columns='Stock', values='Close')